*{
margin :0;
padding:0;
box-sizing:border-box;
}
body{
    font-family:'Ubuntu',sans-serif;
}
#adv{
    text-align: center;
    padding-top: 40px;
    color: white;
    background-color: #5995DA;
    height:100px;
}

.header{
color:#fff;
background-color:#5995DA;
padding: 20px 0;
justify-content:center;
display:flex;
width:900px;
margin: 0 auto;
}
.logo
{
padding-left:10px;
}

.title{
padding-top:30px;
padding-left:30px;
}

.button-container{
/*border:1px solid red;*/ /* debug */
padding:30px;
}

.click{
border : 0.16em solid rgba(255,255,255,0);
display:inline-block;
padding: 0.3em 1.2em;
border-radius:2em;
text-decoration:none;
font-weight:300;
color:#FFFFFF;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
text-align:center;
transition: all 0.2s;
background-color:darkblue;
}


.click:hover{
border-color: rgba(255,255,255,1);
}

.upper{
width:900px;
display:flex;
justify-content:space-between;
}

#spotify{
float:left;
}

.middle{
/*border:1px solid black;  */
padding:20px 0;
display:flex;
justify-content:flex-start;
width:900px;
margin :0 auto;
}

.middle-2{
    padding: 20px 0;
    /*border: 1px solid black;*/ /*debugging*/
    display: flex;
    justify-content: center;
    width: 780px;
    margin: 0 auto;
    flex-direction: column-reverse;
}

.sidebar{
display:flex;
flex-direction:column;
justify-content:space-around;
}

.flip-box {
  background-color: transparent;
  width: 100px;
  height: 100px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}


.flip-box-inner {
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}


.flip-box-front, .flip-box-back-1 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-box-front, .flip-box-back-2 {
  position: absolute;
  width: 100px;
  height: 110px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-box-front, .flip-box-back-3 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-box-front, .flip-box-back-4 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front, .flip-box-back-5 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}



.flip-box-front {
  background-color: #bbb;
  color: black;
}


.flip-box-back-1 {
  background-color: burlywood;
  color: white;
  transform: rotateY(180deg);
}

.flip-box-back-2 {
  background-color: salmon;
  color: white;
  transform: rotateY(180deg);
}
.flip-box-back-3 {
  background-color: lightblue;
  color: white;
  transform: rotateY(180deg);
}
.flip-box-back-4 {
  background-color:cadetblue;
  color: white;
  transform: rotateY(180deg);
}
.flip-box-back-5 {
  background-color: mediumpurple;
  color: white;
  transform: rotateY(180deg);
}


.content{
  /*  border:1px solid red;*/ /* debugging*/
    order:3;
    height: 400px;
    margin-bottom: 20px;
    background-color: white;
    float:left;
}

.form {
    /*border: 1px solid red;  *//*debugging*/
    order:1;
    width:535px;
    margin-right:20px;
    margin-bottom: 20px;
    background-color: mediumpurple;
    color:ivory;
}

.items{
    display: flex;
    flex-direction:row;
    padding-left: 10px;
    padding-top: 5px;
    flex-wrap:wrap;
}
.info{ padding-left:10px;
 padding-top: 5px;
}

textarea{
resize:none;
width:400px;
height:200px;
margin-top:10px;
margin-left:10px;
}

/*textarea[name=textarea]{
margin-left:15px
width:200px;
border:1px solid yellow;
}*/

#color{
    margin-left:17px;
    margin-top:10px;
    /*border:2px solid green;*/ /*debugging*/
}

#submit{
border : 0.16em solid rgba(255,255,255,0);
display:inline-block;
padding: 0.3em 1.2em;
border-radius:2em;
text-decoration:none;
font-weight:300;
color:#FFFFFF;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
text-align:center;
transition: all 0.2s;
background-color:rebeccapurple;
margin : 10px 20px 10px 430px;
}

#submit:hover{
    border-color: rgba(255,255,255,1);
}

.original-text{
    /*border:1px solid red; */  /*debugging*/
    width:100px;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}

.text-size
{
    padding-top:5px;
    text-align:center;
   /* border:1px solid green; debugging*/
    margin: 5px 25px 0 10px;
}

input[name="size"]
{
margin-top:5px;
margin-left:5px;
    width: 50px;
/*border:2px solid black; debugging*/
}

.text-repeat
{
    padding-top:5px;
    text-align:center;
    /*border:1px solid green; debugging*/
    margin: 5px 25px 0 10px;
}

input[name="repeat"]
{
margin-top:5px;
margin-left:5px;
    width: 50px;
/*border:2px solid black; debugging*/
}

.tcolor{
    padding-top:5px;
    margin-top:7px;
    text-align:center;
   /* border:1px solid red;*/ /*debugging*/
    width:100px;
}


.display{
   /* border: 1px solid red; *//*debugging*/
    order:1;
    width: 200px;
    margin-left:5px;
    margin-right: 5px;
    margin-bottom: 20px;
    background-color:#ffc0cb;
}
.empty{
    border: 1px solid black;
    width: 760px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    order:3;
}

.container{
    display: flex;
    justify-content: center;
    flex : 1;
    margin-top: 10px;
    /*border: 1px solid pink;* / /*debugging*/
    flex-wrap: wrap;
}


.bottom {
color:#fff;
background-color:#5995DA;
padding: 20px 0;
justify-content:center;
display:flex;
width:900px;
margin: 0 auto;
}