*{
margin :0;
padding:0;
box-sizing:border-box;
}
body{
    font-family:'Ubuntu',sans-serif;
}
.header{
color:#fff;
background-color:#5995DA;
padding: 20px 0;
justify-content:center;
display:flex;
width:900px;
margin: 0 auto;
}
.logo
{
padding-left:10px;
}

.title{
padding-top:30px;
padding-left:30px;
}

.button-container{
/*border:1px solid red;*/ /* debug */
padding:30px;
}

.click{
border : 0.16em solid rgba(255,255,255,0);
display:inline-block;
padding: 0.3em 1.2em;
border-radius:2em;
text-decoration:none;
font-weight:300;
color:#FFFFFF;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0:35);
text-align:center;
transition: all 0.2s;
background-color:#9a4ef1
}

.click:hover{
border-color: rgba(255,255,255,1);
}

.upper{
width:900px;
display:flex;
justify-content:space-between;
}

#spotify{
float:left;
}

.middle{
/*border:1px solid black;  */
padding:20px 0;
display:flex;
justify-content:flex-start;
width:900px;
margin :0 auto;
}

.middle-2{
    padding: 20px 0;
    /*border: 1px solid black;*/ /*debugging*/
    display: flex;
    justify-content: center;
    width: 780px;
    margin: 0 auto;
    flex-direction: column-reverse;
}

.sidebar{
display:flex;
flex-direction:column;
justify-content:space-around;
}

.sidebar>img{
width:100px;
height:110px;
}


.content{
  /*  border:1px solid red;*/ /* debugging*/
    order:3;
    height: 400px;
    margin-bottom: 20px;
    background-color: white;
    float:left;
}

.form {
    /*border: 1px solid red;  *//*debugging*/
    order:1;
    width:535px;
    margin-right:20px;
    margin-bottom: 20px;
    background-color: mediumpurple;
    color:ivory;
}

.items{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 5px;
}
.info{ padding-left:10px;
 padding-top: 5px;}

#name{
margin-left:15px
}

#email{
    margin-left:17px;
}

#submit{
    margin : 10px 20px 10px 470px;
}

.name{
    padding-bottom:10px;
}
.address{
    padding-bottom:10px;
}

.display{
   /* border: 1px solid red; *//*debugging*/
    order:1;
    width: 200px;
    margin-left:5px;
    margin-right: 5px;
    margin-bottom: 20px;
    background-color:pink;
}
.empty{
    border: 1px solid black;
    width: 760px;
    height: 100px;
    display: flex;
    margin: 0 auto 20px;
    order:3;
}

.container{
    display: flex;
    justify-content: center;
    flex : 1;
    margin-top: 10px;
    /*border: 1px solid pink;* / /*debugging*/
    flex-wrap: wrap;
}


.bottom {
color:#fff;
background-color:#5995DA;
padding: 20px 0;
justify-content:center;
display:flex;
width:900px;
margin: 0 auto;
}